a {
	color: #fff;
}
a:hover {
	color: #fff;
}
.btn {
	display: block;
	height: 50px;
	padding: 12px 20px;
	box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.12);
	border: none;
	border-bottom: solid 3px rgba(0, 0, 0, 0.37);
	border-radius: 5px;
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
	text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
h2 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.mark {
	width: 120px;
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 5px;
	font-size: 11px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	background-color: #000000;
	color: #fff;
	&-alt {
		background-color: #fff;
		color: #000;
	}
}
.hamburger {
	display: none;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 50px;
	width: 100%;
	background-color: #212121;
}
.menu {
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin: 0;
	padding-left: 70px;
	padding-right: 70px;
	list-style-type: none;
	&_item {
		align-self: center;
		height: 31px;
		border-right: 2px dotted #000;
		padding-right: 28px;
		&:last-child {
			border-right: none;
		}
	}
	&_link {
		font-size: 15px;
		font-weight: 300;
		color: #ffffff;
	}
}
.subheader {
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 12px;
	padding-bottom: 12px;
	&_logo {
		display: block;
		min-width: 100%;
	}
	&_official {
		margin-top: 6px;
		font-size: 13px;
		font-weight: 100;
		color: rgba(255, 255, 255, 0.5);
	}
	&_call {
		font-size: 12px;
		font-weight: 300;
		text-align: right;
		color: #ffffff;
	}
	&_phone {
		display: block;
		font-family: Roboto;
		font-size: 22px;
		font-weight: normal;
		text-align: right;
		&.xs-visible {
			display: none;
		}
	}
}

.promo {
	min-height: calc(100vh - 50px);
	margin-top: 50px;
	padding-top: 150px;
	padding-bottom: 100px;
	background: url("../img/promo_background.jpg") center center / cover no-repeat;
	text-align: center;
	color: #ffffff;
	&_header {
		font-size: 60px;
		line-height: 60px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	&_subheader {
		margin-top: 22px;
		margin-bottom: 0;
	}
	&_description {
		margin-top: 24px;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}
	&_btn {
		margin-top: 118px;
		margin-left: auto;
		margin-right: auto;
	}
}

.advantages {
	padding-top: 70px;
	padding-bottom: 70px;
	&_header {
		margin-bottom: 40px;
		text-align: center;
	}
	&_item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 190px;
		&_circle {
			display: flex;
			width: 113px;
			height: 113px;
			border-radius: 50%;
			background-color: #1eacc7;
			justify-content: center;
			vertical-align: middle;
			align-items: center;
			align-self: center;
		}
		&_text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 340px;
			margin-left: 25px;
		}
		&_info {
			font-size: 15px;
			font-weight: 300;
			color: #202020;
		}
		&_header {
			font-size: 17px;
			line-height: 1;
			font-weight: normal;
			color: #1eacc7;
		}
	}
}

.opportunities {
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
	background: url(../img/main_background.jpg) center center / cover;
	&_header {
		margin-bottom: 20px;
	}
	&_subheader {
		margin-bottom: 32px;
		font-size: 17px;
		font-weight: normal;
		text-align: center;
	}
	&_item {
		position: relative;
		height: 280px;
		width: 320px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		&_img {
			position: absolute;
			left: 0;
			top: 0;
			height: 280px;
			width: 320px;
			z-index: 0;
		}
		&_title {
			position: absolute;
			top: 90px;
			left: 50%;
			transform: translateX(-50%);
			width: 270px;
			color: #fff;
			text-align: center;
			font-size: 24px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			text-transform: uppercase;
			line-height: 1.29;
		}
		&_btn {
			position: relative;
			top: 200px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: center;
			height: 26px;
			width: 26px;
			border-radius: 50%;
			background-color: #000;
			color: #1eacc7;
			&::before {
				align-self: center;
				justify-self: center;
				font-size: 20px;
				content: $icon-plus1;
				font-family: "#{$icomoon-font-family}";
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.passabilities {
	text-align: center;
	&_start {
		position: relative;
		height: 498px;
		padding-top: 55px;
		background-color: #070716;
		color: #fff;
		&_subheader {
			margin-top: 20px;
			font-size: 17px;
			font-weight: normal;
		}
		&_img {
			position: absolute;
			bottom: -120px;
			left: 50%;
			display: block;
			width: 550px;
			transform: translate(-50%, 0);
		}
	}
	&_main {
		height: 397px;
		padding-top: 160px;
		background: url(../img/main_background.jpg) center center;
		background-size: auto;
		&_text {
			font-size: 17px;
			font-weight: 300;
			line-height: 1.41;
		}
	}
}

.conditions {
	padding: 60px 0 95px;
	&_item {
		margin-top: 50px;
		div {
			font-size: 17px;
			font-weight: 300;
			color: #1ca8c3;
		}
		&.requirements {
			.conditions {
				&_title {
					color: #ff5656;
				}
				&_list {
					li {
						&::before {
							color: #ff5656;
						}
					}
				}
			}
		}
	}
	&_title {
		font-size: 22px;
		font-weight: normal;
		color: #1ca8c3;
	}
	&_list {
		padding-left: 30px;
		list-style: none;
		li {
			display: flex;
			align-items: center;
			position: relative;
			margin-top: 10px;
			margin-left: 20px;
			font-size: 17px;
			font-weight: 300;
			line-height: 1.41;
			color: #222222;
			&::before {
				position: absolute;
				left: -30px;
				font-size: 20px;
				content: $icon-checkmark-outline;
				font-family: "#{$icomoon-font-family}";
				color: #1ca8c3;
			}
		}
	}
}

.cities {
	position: relative;
	height: 717px;
	padding-top: 50px;
	color: #fff;
	text-align: center;
	background: url(../img/end_background.jpg) center center / cover no-repeat;
	&_subheader {
		font-size: 17px;
		font-weight: normal;
		line-height: 1.24;
	}
	&_link {
		position: absolute;
		bottom: 50px;
		font-size: 15px;
		font-weight: normal;
		color: #1fbad6;
		text-transform: uppercase;
		transform: translate(-50%, 0);
	}
}
