@media (max-width: 1200px) {
	.menu {
		&_item {
			padding-right: 20px;
		}
		&_link {
			font-size: 13px;
		}
	}
	.subheader {
		&_btn {
			padding: 5px;
		}
	}
	.promo {
		&_header {
			font-size: 50px;
		}
		&_subheader {
			font-size: 32px;
		}
		.btn {
			margin-top: 50px;
		}
	}
	.advantages {
		padding-bottom: 0;
		&_item {
			margin-bottom: 10px;
			&_circle {
				align-self: flex-start;
				margin-right: 15px;
			}
			&_text {
				width: 325px;
				justify-content: flex-start;
				margin-left: 0;
				font-size: 13px;
			}
		}
	}
	.opportunities {
		&_item {
			&_img {
				width: 310px;
			}
		}
	}
}
.passabilities {
	&_main {
		height: 300px;
		padding-top: 140px;
	}
}
.footer {
	&_mobile-store {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		a {
			height: 40px;
			width: 120px;
			position: relative;
			display: inline-block;
			overflow: hidden;

			img {
				position: absolute;
				top: -40px;
				left: 0;
				overflow: hidden;
			}
		}
	}
	.cities {
		height: 535px;
	}
}
@media (max-width: 991px) {
	h2 {
		font-size: 26px;
	}
	.menu {
		padding-left: 25px;
		padding-right: 25px;
		&_item {
			padding-right: 8px;
		}
		&_link {
			font-size: 10px;
		}
	}
	.promo {
		&_header {
			font-size: 40px;
		}
		&_subheader {
			font-size: 26px;
		}
		.btn {
			margin-top: 100px;
		}
	}
	.advantages {
		padding-top: 35px;
		&_item {
			flex-direction: column;
			align-content: center;
			height: auto;
			&_circle {
				align-self: center;
				margin-right: 0;
				margin-bottom: 10px;
			}
			&_text {
				position: relative;
				width: auto;
			}
			&_header {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				text-align: center;
			}
			&_info {
				margin-top: 40px;
			}
		}
	}
	.opportunities {
		&_item {
			&_img {
				top: 50px;
				width: 100%;
			}
		}
	}
	.cities {
		height: 420px;
	}
	.footer {
		height: 170px;
		&_media {
			a {
				width: 30px;
				height: 30px;
				i {
					font-size: 16px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.xs-hidden {
		display: none;
	}
	.btn {
		height: 40px;
		font-size: 12px;
	}
	.menu {
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		top: 0px;
		left: -100%;
		width: 50%;
		height: 100vh;
		padding: 20px 15px;
		background-color: rgba(0, 0, 0, 0.8);
		transition: 0.6s all;
		&_active {
			left: 0;
		}
		&_item {
			margin: 10px 0;
			padding-right: 0;
			border: none;
			a {
				font-size: 14px;
			}
			&_info {
				margin: 50px;
			}
		}
		font-size: 20px;
	}
	.hamburger {
		display: block;
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		height: 18px;
		width: 26px;
		span {
			display: block;
			height: 2px;
			width: 100%;
			margin-bottom: 4px;
			background-color: #fff;
			transition: 0.5s all;
		}
		&_active {
			span {
				margin-bottom: -2px;
				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
				}
				&:nth-child(2) {
					transform: translateY(3px) rotate(-45deg);
				}
				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
				}
			}
		}
	}
	.subheader {
		&_logo {
			img {
				display: block;
				width: 100%;
			}
		}
		&_phone {
			text-align: center;
			font-size: 14px;
			&.xs-visible {
				display: block;
			}
		}
		&_btn {
			width: 80%;
			height: 30px;
			margin-left: auto;
			margin-right: auto;
			font-size: 10px;
		}
	}
	.promo {
		&_header {
			font-size: 36px;
			line-height: 40px;
		}
		&_subheader {
			line-height: 30px;
		}
		&_description {
			font-size: 16px;
			line-height: 18px;
		}
		.btn {
			margin-top: 50px;
		}
	}
	.advantages {
		&_item {
			&_text {
				align-self: center;
			}
		}
	}
	.opportunities {
		&_item {
			width: 240px;
			overflow: hidden;
			&_title {
				padding-left: 20px;
				padding-right: 20px;
				font-size: 20px;
			}
		}
	}
	.footer {
		height: 260px;
		&_media {
			padding-top: 20px;
			justify-content: center;
			a {
				width: 32px;
				height: 32px;
			}
		}
		&_sublinks {
			padding-top: 10px;
		}
		&_language {
			padding-top: 10px;
		}
		&_mobile-store {
			flex-direction: row;
			justify-content: space-between;
			width: 400px;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}
}
