$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-plus: "\e905";
$icon-add-solid: "\e904";
$icon-checkmark-outline: "\e903";
$icon-checkmark-outline1: "\e900";
$icon-check-circle-o: "\e901";
$icon-plus1: "\e906";
$icon-check-circle: "\e902";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-linkedin: "\eac9";
